{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
            </th>

            <th{% if pagination.isSorted('a.Photo') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Photo', 'a.photo') }}
            </th>

            <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
            </th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="/posts/{{ article.id }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td><img src="{{ article.photo }}" alt="Photo" width="60px"></td>
                <td>{{ article.created_at | date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
